<div class="container">
  <div id="my-account">
    <div class="row">
      <div id="center_column" class="center_column col-xs-12 col-sm-12">
        <% if notice.present? %>
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only"></span>
              <%= notice %>
            </div>
        <% end %>
        <% if !user_signed_in? %>

            <%= render 'login' %>
        <% else %>

            <h1 class="page-heading"><%=t('.my_account')%></h1>

            <p class="info-account" style="text-align: center"><%=t('.account_welcome')%></p>

            <div class="row addresses-lists">
              <div class="col-xs-12 col-sm-6 col-lg-6">
                <ul class="myaccount-link-list">
                  <li><%= link_to order_history_orders_path do %>
                        <i class="icon-list-ol"></i><span><%=t('.my_orders')%></span>
                    <% end %>
                  </li>
                  <li><%= link_to user_addresses_addresses_path do %>
                        <i class="fa fa-building-o"></i><span><%=t('.my_address')%></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to info_myaccount_index_path do %>
                        <i class="icon-user"></i><span><%=t('.my_info')%></span>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-6">
                <ul class="myaccount-link-list">

                  <!-- MODULE WishList -->
                  <li class="lnk_wishlist">
                    <a href="/" title=<%=t('.my_wish')%>>
                      <i class="icon-heart"></i>
                      <span><%=t('.my_wish')%></span>
                    </a>
                  </li>
                  <!-- END : MODULE WishList -->
                  <li class="mailalerts">
                    <a href="/" title=<%=t('.my_mails')%> rel="nofollow">
                      <i class="icon-envelope"></i>
                      <span><%=t('.my_mails')%></span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <ul class="footer_links clearfix">
              <li>
                <a class="btn btn-default button button-small" href="/" title=<%=t('.main')%>><span><i class="icon-chevron-left"></i><%=t('.main')%> </span></a>
              </li>
            </ul>
        <% end %>
      </div>
      <!-- #center_column -->

    </div>
  </div>
</div>
