<div class="col-sm-3">
  <div class="left-sidebar">
    <h2><%=t('.category')%></h2>

    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
      <div class="panel panel-default">
        <% @categories.each do |category| %>
            <% if category.category_id.nil? %>
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name %>">
                      <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                      <%= category.name %>
                    </a>
                  </h4>
                </div>
                <div id="<%= category.name %>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul>
                      <li><%= link_to t('.all_models'), category_path(category) %></li>
                      <% @categories.select do |subcategory| %>
                          <% if subcategory.category_id == category.id %>
                              <li><%= link_to subcategory.name, category_path(subcategory) %></li>
                          <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <!--/category-products-->
  </div>
</div>
