<% @products.each do |product|  %>
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <%= image_tag(product.image.url, size: '255x210')%>
            <h2><%= product.price %></h2>
            <p><%= product.title %></p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i><%=t('.add_to_cart')%></a>
          </div>
          <div class="product-overlay">
            <div class="overlay-content">
              <h2><%= product.price %></h2>
              <p><%= product.description.html_safe %></p>
              <%= button_to  line_items_path(product_id: product), {class: 'btn btn-default add-to-cart'} do %>
                  <i class="fa fa-shopping-cart"></i>
                  <%=t('.add_to_cart')%>
              <% end %>
              <%= link_to  product_path(product), {class: 'btn btn-default add-to-cart'} do %>
                  <i class="fa fa-eye"></i>
                  <%=t('.watch')%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="choose">
          <ul class="nav nav-pills nav-justified">
            <li><a href="#"><i class="fa fa-plus-square"></i><%=t('.add_to_bookmarks')%></a></li>
            <li><a href="#"><i class="fa fa-plus-square"></i><%=t('.compare')%></a></li>
          </ul>
        </div>
      </div>
    </div>

<% end %>
