<section id="slider"><!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>Car</span>-Store</h1>
                <h2>Free E-Commerce Template</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="button" class="btn btn-default get">Перейти</button>
              </div>
              <div class="col-sm-6">
                <img src="/assets/slider/slide1.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Car</span>-Store</h1>
                <h2>Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="button" class="btn btn-default get">Перейти</button>
              </div>
              <div class="col-sm-6">
                <img src="/assets/slider/slide2.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>

            <div class="item">
              <div class="col-sm-6">
                <h1><span>Car</span>-Store</h1>
                <h2>Lorem ipsum dolor sit</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="button" class="btn btn-default get">Перейти</button>
              </div>
              <div class="col-sm-6">
                <img src="/assets/slider/slide3.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Car</span>-Store</h1>
                <h2>Free Ecommerce Template</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="button" class="btn btn-default get">Перейти</button>
              </div>
              <div class="col-sm-6">
                <img src="/assets/slider/slide4.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Car</span>-Store</h1>
                <h2>Volkswagen New_Passat</h2>
                <p>Volkswagen Passat никогда ещё не выглядел так элегантно и достойно.</p>
                <button type="button" class="btn btn-default get">Перейти</button>
              </div>
              <div class="col-sm-6">
                <img src="/assets/slider/slide5.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>


          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section><!--/slider-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Категории</h2>
          <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
              <% @categories.each do |category| %>
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name %>">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        <%= category.name %>
                      </a>
                    </h4>
                  </div>
                  <div id="<%= category.name %>" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li><%= link_to 'Все модели', category_path(category) %></li>
                        <li><a href="#">Седан </a></li>
                        <li><a href="#">Хечбек</a></li>
                        <li><a href="#">Универсал</a></li>
                        <li><a href="#">Купе</a></li>
                        <li><a href="#">Минивен</a></li>
                        <li><a href="#">Кабриолет</a></li>
                        <li><a href="#">Пикап</a></li>
                        <li><a href="#">Внедорожник</a></li>
                        <li><a href="#">Кроссовер</a></li>
                      </ul>
                    </div>
                  </div>
              <% end %>
            </div>


          </div><!--/category-products-->
        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
          <h2 class="title text-center">Популярные модели </h2>
          <% @products.first(6).each do |product|  %>
          <div class="col-sm-4">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <%= image_tag(product.image.url, size: '255x210')%>
                  <h2><%= product.price %></h2>
                  <p><%= product.title %></p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                </div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2><%= product.price %></h2>
                    <p><%= product.description.html_safe %></p>
                    <%= button_to  line_items_path(product_id: product), {class: 'btn btn-default add-to-cart'} do %>
                      <i class="fa fa-shopping-cart"></i>
                        В корзину
                       <% end %>
                    <%= link_to  product_path(product), {class: 'btn btn-default add-to-cart'} do %>
                        <i class="fa fa-eye"></i>
                        Смотреть
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="choose">
                <ul class="nav nav-pills nav-justified">
                  <li><a href="#"><i class="fa fa-plus-square"></i>В закладки</a></li>
                  <li><a href="#"><i class="fa fa-plus-square"></i>В сравнение</a></li>
                </ul>
              </div>
            </div>
          </div>

<% end %>
        </div><!--features_items-->

        <div class="category-tab"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#volkswagen" data-toggle="tab">VOLKSWAGEN</a></li>
              <li><a href="#skoda" data-toggle="tab">ŠKODA</a></li>
              <li><a href="#audi" data-toggle="tab">AUDI</a></li>
              <li><a href="#bentley" data-toggle="tab">BENTLEY</a></li>
              <li><a href="#bugatti" data-toggle="tab">BUGATTI</a></li>
              <li><a href="#lamborghini" data-toggle="tab">LAMBORGHINI</a></li>
              <li><a href="#porshe" data-toggle="tab">PORSCHE</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade active in" id="tshirt" >

                <% @products.first(4).each do |product| %>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <%= image_tag(product.image.url, size: '184x162')%>
                      <h2><%= product.price %></h2>
                      <p><%= product.title %></p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
    <% end %>

            </div>

            <div class="tab-pane fade" id="blazers" >
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="sunglass" >
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="kids" >
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="poloshirt" >
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery2.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery4.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery3.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="/assets/home/gallery1.jpg" alt="" />
                      <h2>$56</h2>
                      <p>Easy Polo Black Edition</p>
                      <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--/category-tab-->

        <div class="recommended_items"><!--recommended_items-->
          <h2 class="title text-center">recommended items</h2>

          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <% @products.first(3).each do |product| %>
                    <div class="col-sm-4">
                      <div class="product-image-wrapper">
                        <div class="single-products">
                          <div class="productinfo text-center">
                            <%= image_tag(product.image.url, size: '184x162')%>
                            <h2><%= product.price %></h2>
                            <p><%= product.title %></p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                          </div>

                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
              <div class="item">
                <% @products.last(3).each do |product| %>
                    <div class="col-sm-4">
                      <div class="product-image-wrapper">
                        <div class="single-products">
                          <div class="productinfo text-center">
                            <%= image_tag(product.image.url, size: '184x162')%>
                            <h2><%= product.price %></h2>
                            <p><%= product.title %></p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                          </div>

                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div><!--/recommended_items-->

      </div>
    </div>
  </div>
</section>
