<%= form_for(@order) do |f| %>


    <div class="form-group col-md-6">

      <p><%=t('.order_summ')%> : <%= @cart.total_summ %></p><br>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :address %><br>
      <%= f.collection_select :address_id, current_user.addresses, :id, :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-12">
      <%= f.submit t('.create'), class: "btn btn-primary pull-right" %>
    </div>


<% end %>
