<div id="contact-page" class="container">
  <div class="bg">
    <div class="row">
      <div class="col-sm-8">
        <div class="contact-form">
          <h2 class="title text-center">Оформление заказа</h2>


          <% if !user_signed_in? %>
              <%= render ('addresses/form_address') %>
          <% end %>


          <%= form_for(@order) do |f| %>


              <div class="form-group col-md-6">

                <p>Сумма заказа: <%= @cart.total_summ %></p><br>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :address %><br>
                <%= f.collection_select :address_id, current_user.addresses, :id, :title, class: "form-control" %>
              </div>
              <div class="form-group col-md-12">
                <%= f.submit "Создать", class: "btn btn-primary pull-right" %>
              </div>


          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>