<div id="contact-page" class="container">
  <div class="bg">
    <div class="row">
      <div class="col-sm-8">
        <div class="contact-form">
          <div class="form-group col-md-12">
          <h3 style="color: #A80000; text-align: center;"><%=t('.this_address_order')%></h3>
            <%=t('.this_address_order_info')%>
            </div>

          <h2 class="title text-center"><%=t('.ordering')%></h2>


          <div id="order_form">
            <%= render 'order_form' %>
          </div>
          <div id="new_order_form">

          </div>

          <%= render ('address_form') %>

          <div class="form-group col-md-12">
          <h3 style="color: #A80000; text-align: center;"><%=t('.checkout_pay')%></h3>
          <%=t('.liqpay_pay')%> <span style="color: green">LiqPay</span>
        </div>
          <table class="table table-bordered">

            <thead>
            <tr>
              <th class="item"><%=t('.item_name')%></th>
              <th class="item"><%=t('.quantity')%></th>
              <th class="item"><%=t('.price')%></th>
              <th class="last_item"><%=t('.summ')%></th>
            </tr>
            </thead>


            <tfoot>
            <tr class="item">
              <td colspan="1">
                <strong><%=t('.items_price')%> </strong>

                <strong><%=t('.items')%></strong>

              </td>
              <td colspan="4">
                <span class="price"><%= @cart.total_summ %></span>
              </td>
            </tr>
            <tr class="item">
              <td colspan="1">
                <strong><%=t('.delivery')%></strong>
              </td>
              <td colspan="4">
                <span class="price-shipping"><%=t('.delivery_free')%></span>
              </td>
            </tr>
            <tr class="totalprice item">
              <td colspan="1">
                <strong><%=t('.total_summ')%>: </strong>
              </td>
              <td colspan="4">
                <span class="price"><%= @cart.total_summ %></span>
              </td>
            </tr>
            </tfoot>
            <tbody>
            <!-- Customized products -->
            <!-- Classic products -->
            <% @cart.line_items.each do |item| %>
                <tr class="item">

                  <td class="bold">
                    <label for="cb_70">
                      <%= item.product.title %>
                    </label>
                  </td>
                  <td class="return_quantity">
                    <%= item.quantity %>
                  <td class="price">
                    <label for="cb_70">
                      <%= item.product.price %>
                    </label>
                  </td>
                  <td class="price">
                    <label for="cb_70">
                      <%= (item.quantity * item.product.price) %>
                    </label>
                  </td>

                </tr>
            <% end %>
            </tbody>
          </table>
          <form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/checkout">
            <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJwdWJsaWNfa2V5IjoiaTUzOTE1Mjg0OTgwIiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiJNeSBnb29kcyIsInR5cGUiOiJidXkiLCJzYW5kYm94IjoiMSIsImxhbmd1YWdlIjoicnUiLCJwYXlfd2F5IjoiY2FyZCxsaXFwYXksZGVsYXllZCxpbnZvaWNlLHByaXZhdDI0In0=" />
            <input type="hidden" name="signature" value="2V/EihYB7sMtYyS8mRPhaC/TSbs=" />
            <input type="image" src="//static.liqpay.com/buttons/p11ru.radius.png" name="btn_text" />
          </form>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function test_ajax() {
        $.ajax({
            method: "POST",
            url: "<%= ajax_addresses_path %>",
            data: {
                address: {
                    name: $('#name').val(),
                    address: $('#address_street').val(),
                    phone: $('#phone').val(),
                    country: $('#country').val(),
                    city: $('#city').val(),
                    user_id: <%= current_user.id %>,
                    title: $('#title').val()
                }
            },
            dataType: "json",
            statusCode: {
                201: function () {
                    $('#address').empty();
                    console.log('delete address');


                },
            },
            success: function (data) {
                console.log(data);
                $('#order_address_id').append($('<option>', {
                    value: data.id,
                    text: data.name
                }));
                $("#order_address_id option[value=" + data.id + "]").attr('selected', 'selected');
                console.log('insert part')
            },
            error: function () {
                alert("Error!");
            }
        })

    }
</script>


