<div class="container">
  <div class="row">
    <% if notice %>

        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
    <% end %>
<table id="order-list" class="table table-bordered footab default footable-loaded footable">
  <thead>
  <tr>
    <th><%=t('.order_code')%>: </th>
    <th><%=t('.summ')%></th>
    <th><%=t('.date')%></th>
    <th><%=t('.order_status')%>: </th>
    <th><%=t('.order_info')%></th>
  </tr>
  </thead>
  <tbody>
  <% @order_history.each do |order| %>
  <tr>
      <td><%= order.id %></td>
      <td><%= order.price %></td>
      <td><%= order.updated_at %></td>
    <td><span style="background-color:#4169E1; border-color:#4169E1;" class="label"><%=t('.status')%></span></td>

      <td><%= link_to t('.more'), order_path(:id => order.id) %> </td>
  </tr>
  <% end %>
  </tbody>
</table>
      </div>
    </div>

