<div class="container">
  <h4 class="text-left">
    <%=t('.for_your_convenience')%>
  </h4>
  <h3 class="text-left">
    <%=t('.cars_delivery')%>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="/assets/payment_delivery/384.jpg" alt="..." class="center-block">
        <h3>
          <%=t('.cars_delivery_about')%>
        </h3>
      </div>
      <div class="col-sm-6 text-center">
	      <img src="/assets/payment_delivery/386.jpg" alt="..." class="center-block">
        <h3>
          <%=t('.cars_delivery_when')%>
        </h3>
      </div>
    </div>
    <ul>
        <li><h4><%=t('.cars_delivery_how')%></h4></li>
        <li><h4><%=t('.cars_delivery_where')%></h4></li>
    </ul>
  </div>
  <h3 class="text-left">
    <%=t('.cars_payment')%>
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/47.png" alt="..." class="center-block">
        <h3>
          <%=t('.cars_payment_cash')%>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/52.png" alt="..." class="center-block">
        <h3>
          <%=t('.cars_payment_bank')%>
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/42.png" alt="..." class="center-block">
        <h3>
          <%=t('.cars_payment_cart')%>
        </h3>
      </div>
    </div>
  </div>
</div>
