
<div id="columns" class="container">

  <div id="center_column" class="center_column col-xs-12 col-sm-12">
    <% if notice %>

        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= notice %>
        </div>
    <% end %>
    <h1 id="cart_title" class="page-heading"><%= t('.ordering') %>
      <span class="heading-counter"><%= t('.items_in_cart') %>:
			<span id="summary_products_quantity"><%= @cart.line_items.count%></span>
		</span>
    </h1>

    <table class="table table-bordered stock-management-on" id="cart_summary">
      <thead>
      <tr>
        <th class="cart_product first_item"><%= t('.item') %></th>
        <th class="cart_description item"><%= t('.description') %></th>
        <th class="cart_avail item"><%= t('.availability') %></th>
        <th class="cart_unit item"><%= t('.price') %></th>
        <th class="cart_quantity item"><%= t('.quantity') %></th>
        <th class="cart_total item"><%= t('.summ') %></th>
      </tr>
      </thead>
      <tbody>
      <% @cart.line_items.each do |item| %>
          <tr>


            <td><%= image_tag(item.product.image.url, size: '130x98') %></td>
            <td><p class="product-name"><%= item.product.title%></p><small class="cart_ref"><%= item.product.description.html_safe %></td></small>
            <td><%= item.product.status ? t('.in_stock') : t('.out_of_stock') %></td>
            <td><span class="price"><%= item.product.price %></span></td>
            <td><%= item.quantity %></td>
            <td><span class="price"><%= @cart.total_of_product(item.product.id) %></span></td>
          </tr>
      <% end %>

      </tbody>
      <tfoot>
      <tr class="cart_total_price">
        <td rowspan="3" colspan="2" id="cart_voucher" class="cart_voucher">
          <%= button_to 'Empty cart', @cart, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'btn btn-default add-to-cart' %>
          <%= button_to "Оформить заказ", new_order_path, class: 'btn btn-default add-to-cart', method: :get %>

        </td>
        <td colspan="3" class="text-right"><%= t('.total_summ') %></td>
        <td colspan="2" class="price" id="total_product"><%= @cart.total_summ %></td>
      </tr>
      <tr class="cart_total_delivery">
        <td colspan="3" class="text-right"><%= t('.delivery') %></td>
        <td colspan="2" class="price" id="total_shipping"><%= t('.delivery_price') %></td>
      </tr>
      <tr class="cart_total_price">
        <td colspan="3" class="total_price_container text-right">
          <span><%= t('.total') %></span>
        </td>
        <td colspan="2" class="price" id="total_price_container">
          <span><%= @cart.total_summ %></span>
        </td>
      </tr>
      </tfoot>

    </table>


  </div>
</div>