
 <p> <%= @user_address.name %> </p>
    <p> <%= @user_address.address %> </p>
    <p> <%=  @user_address.phone %> </p>
    <p> <%= @user_address.country %> </p>
    <p> <%= @user_address.city %> </p>
    <p> <%= @user_address.user_id %> </p>
