<div class="container">
  <div class="row">
    <td><%= link_to t('.new_address'), new_address_path, class: 'btn btn-default add-to-cart' %> </td>
    <table id="order-list" class="table table-bordered footab default footable-loaded footable">
      <thead>
      <tr>
        <th><%=t('.nick')%></th>
        <th><%=t('.address')%></th>
        <th><%=t('.phone')%></th>
        <th><%=t('.country')%></th>
        <th><%=t('.city')%></th>
        <th><%=t('.name_surname')%></th>
        <th colspan="2"><%=t('.act')%></th>
      </tr>
      </thead>
      <tbody>
      <% @user_addresses.each do |address| %>
          <tr>
            <td><%= address.name %></td>
            <td><%= address.address %></td>
            <td><%= address.phone %></td>
            <td><%= address.country %></td>
            <td><%= address.city %></td>
            <td><%= address.title %></td>
            <td><%= link_to t('.edit'), edit_address_path(address), class: 'btn btn-default add-to-cart' %> </td>
            <td><%= button_to t('.delete'), address, method: :delete,  data: { confirm: t('.sure') }, class: 'btn btn-default add-to-cart' %> </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

