<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%=t('.header')%></title>

  <meta name="description" content="Car Store - Один из лучших автосалонов Харькова"/>
  <meta name="keywords" content="Car Store Один из лучших автосалонов Харькова"/>


  <link rel="shortcut icon" href="img/favicon.png">

  <link rel="stylesheet" type="text/css" href="/assets/landpagecss/reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/landpagecss/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/landpagecss/style-responsive.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>


<div class="preloader" id="preloader">
  <div class="item">
    <img src="/assets/landpageimg/loading.gif">
  </div>
</div>


<div class="container">


  <!-- section start-page -->

  <section class="start-page parallax-background" id="home">

    <div class="opacity"></div> <!-- Opacity color -->
    <div class="content">
      <div class="text">

        <div class="logo"><img src="/assets/home/logo_admin.png"></div>

        <h1><%=t('.p1_t1')%></h1><hr/>
        <p><%=t('.p1_t2')%></p>

        <a href="#about-us"><div class="read-more"><%=t('.p1_t3')%></div></a>

      </div>
      <div class="arrow-down"></div>
    </div>

  </section>

  <!-- section menu mobile -->

  <section class="menu-media">

    <div class="menu-content">

      <div class="logo">Onepage</div>

      <div class="icon"><a href="#"><img src="/assets/landpageimg/icons/menu-media.png"/></a></div>

    </div>

  </section>

  <ul class="menu-click">
    <a href="#home"><li href="#home">HOME</li></a>
    <a href="#about-us"><li href="#about-us">ABOUT US</li></a>
    <a href="#portfolio"><li href="#portfolio">PORTFOLIO</li></a>
    <a href="#contact"><li href="#contact">CONTACT</li></a>

  </ul>


  <!-- section menu -->

  <section class="menu">

    <div class="menu-content">

      <div class="logo">Cart Store</div>

      <ul id="menu">
        <li><a href="#home"><%=t('.p2_t1')%></a></li>
        <li><a href="#about-us"><%=t('.p2_t2')%></a></li>
        <li><a href="#portfolio"><%=t('.p2_t3')%></a></li>
        <li><a href="#partners"><%=t('.p2_t4')%></a></li>
        <li><a href="#contact"><%=t('.p2_t5')%></a></li>
      </ul>
    </div>


  </section>


  <!-- section about us -->

  <section class="about-us">

    <div class="content">

      <h1  id="about-us"><%=t('.advant')%></h1>
      <hr/>
      <p class="title" ><%=t('.why')%></p>

      <div class="column-one" >
        <img title=<%=t('.one')%> src="/assets/landpageimg/icons/12a.jpg" alt=<%=t('.one')%> >
        <img title=<%=t('.two')%> src="/assets/landpageimg/icons/11a.jpg" alt=<%=t('.two')%> >

      </div>

      <div class="column-two">
        <img title=<%=t('.three')%> src="/assets/landpageimg/icons/03a.jpg" alt=<%=t('.three')%>>
        <img title=<%=t('.four')%> src="/assets/landpageimg/icons/10a.jpg" alt=<%=t('.four')%>>
      </div>


      <div class="column-three">
        <img title=<%=t('.five')%> src="/assets/landpageimg/icons/08a.jpg" alt=<%=t('.five')%>>
        <img title=<%=t('.six')%> src="/assets/landpageimg/icons/01a.jpg" alt=<%=t('.six')%>>

      </div>
    </div>


  </section>

  <div class="clear"></div>

  <!-- portoflio-->

  <section class="portfolio">


    <div class="portfolio-margin">

      <h1  id="portfolio"><%=t('.facts')%></h1>
      <hr/>

      <!-- 1 item portoflio-->

      <ul class="grid">

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/1.png" alt="Portfolio item" />
            <div class="text">
              <p><%=t('.sklad')%></p>
              <p class="description"><%=t('.sklad_des')%></p>
            </div>
          </a>
        </li>

        <!-- 2 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/2.png" alt="Portfolio item" />
            <div class="no-text">
              <p><%=t('.salon')%></p>
              <p class="description"><%=t('.salon_des')%></p>
            </div>
          </a>
        </li>

        <!-- 3 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/3.png" alt="Portfolio item" />
            <div class="no-text">
              <p><%=t('.service')%></p>
              <p class="description"><%=t('.service_des')%></p>
            </div>
          </a>
        </li>


        <!-- 4 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/4.png" alt="Portfolio item" />
            <div class="no-text">
              <p><%=t('.awards')%></p>
              <p class="description"><%=t('.awards_des')%></p>
            </div>
          </a>
        </li>

        <!-- 5 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/5.png" alt="Portfolio item" />
            <div class="no-text">
              <p><%=t('.partners_awards')%></p>
              <p class="description"><%=t('.partners_awards_des')%></p>
            </div>
          </a>
        </li>


        <!-- 6 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/6.png" alt="Portfolio item" />
            <div class="text">
              <p><%=t('.3S')%></p>
              <p class="description"><%=t('.3S_des')%></p>
            </div>
          </a>
        </li>

        <!-- 7 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/7.png" alt="Portfolio item" />
            <div class="text">
              <p><%=t('.easy_shop')%></p>
              <p class="description"><%=t('.easy_shop_des')%></p>
            </div>
          </a>
        </li>

        <!-- 8 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/8.png" alt="Portfolio item" />
            <div class="text">
              <p><%=t('.test_drive')%></p>
              <p class="description"><%=t('.test_drive_des')%></p>
            </div>
          </a>
        </li>

        <!-- 9 item portoflio-->

        <li>
          <a href="#">
            <img src="/assets/landpageimg/portfolio/9.png" alt="Portfolio item" />
            <div class="text">
              <p><%=t('.happy_clients')%></p>
              <p class="description"><%=t('.happy_clients_des')%></p>
            </div>
          </a>
        </li>



      </ul>

      <a href="#contact"><div class="read-more"><%=t('.pokatatsya')%></div></a>

    </div>

  </section>


  <div class="clear"></div>




  <!-- partners-->

  <section class="partners parallax-background-partners" id="partners">

    <div class="opacity"></div>

    <div class="content">

      <h2><%=t('.our_partners')%></h2>

      <div class="logo">

        <a href="#"><img src="/assets/landpageimg/logos/infocar-logo-2.png"></a>
        <a href="#"><img src="/assets/landpageimg/logos/kraina.png"></a>
        <a href="#"><img src="/assets/landpageimg/logos/logoeurope.png"></a>
        <a href="#"><img src="/assets/landpageimg/logos/ingo.png"></a>

      </div>

    </div>

  </section>


  <!-- Contact-->

  <section class="contact">
    <h1 id="contact"><%=t('.request_test_drive')%></h1>
    <hr/>

    <div class="content">

      <div class="form">
        <%= form_tag(about_mail_path, :method => "post", id: "send") do %>
            <div class="column">
            <%= text_field_tag :name, params[:name], placeholder: t('.name')%>
              </div>
            <div class="column-2">
            <%= text_field_tag :email, params[:email], placeholder: t('.email')%>
              </div>
            <div class="column-3">
            <%= text_area_tag :text_area, params[:text], placeholder: t('.other')%>
              </div>
            <%= submit_tag "GO!" %>
        <% end %>


      </div>


      <div class="contact-text">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.919127487383!2d36.22196459999999!3d50.0316112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a14aa1c825fb%3A0x5bc05fcc065de7be!2z0L_RgNC-0YHQvy4g0JvQtdC90ZbQvdCwLCA1Niwg0KXQsNGA0LrRltCyLCDQpdCw0YDQutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1440583882162" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>


    </div>

  </section>


  <section class="footer">

    <div class="logo"><img src="/assets/home/logo_admin.png"></div>
    <div class="menu-footer">

      <a href="/"><%=t('.main')%></a>
      <a href="/category"><%=t('.all_models')%></a>
      <a href="/myaccount"><%=t('.my_account')%></a>

    </div>

    <div class="copyright">© 2015. <a href="/" style="color: grey"> <%=t('.one_of_the_best')%></a></div>


  </section>


</div>



<!-- Scripts -->

<script src="/assets/landpagejs/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/assets/landpagejs/jquery-ui-1.10.4.min.js" type="text/javascript"></script> <!-- jQuery -->
<script src="/assets/landpagejs/jquery.nicescroll.js"></script> <!-- jQuery NiceScroll -->
<script src="/assets/landpagejs/jquery.sticky.js"></script> <!-- jQuery Stick Menu -->
<script src="/assets/landpagejs/masonry.pkgd.min.js"></script> <!-- All script -->
<script src="/assets/landpagejs/imagesloaded.pkgd.min.js"></script> <!-- All script -->

<script>
    $(function(){

        var $container = $('.grid');

        $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector : 'li'
            });
        });

    });
</script>
<script src="/assets/landpagejs/jquery.parallax.js"></script> <!-- jQuery Parallax -->
<script src="/assets/landpagejs/script.js"></script> <!-- All script -->


</body>

</html>
