<!DOCTYPE html>
<html>
<head>
  <title>CarStore</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Car Store - Один из лучших автосалонов Харькова"/>
  <meta name="keywords" content="Car, Store, машинки, другие сеошные причуды"/>
</head>
<body>
<!-- Navigation -->

<header id="header"><!--header-->
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> <%= display_phone %> </a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> <%= display_email %> </a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li>
                <% if session[:locale] == 'en' %>
                    <%= link_to localizations_change_locale_path(:locale => "ru"), method: :post do %>

                        Language: <i class="fa fa-clipboard"></i>

                    <% end %>
                <% else %>
                    <%= link_to localizations_change_locale_path(:locale => "en"), method: :post do %>

                        Язык: <i class="fa fa-clipboard"></i>

                    <% end %>
                <% end %>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a href="/" id="logo"><img src="/assets/home/logo.png" alt=""/></a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li><a href="/myaccount"><i class="fa fa-user"></i><%= t('.account') %></a></li>
              <li><a href="#"><i class="fa fa-star"></i><%= t('.bookmarks') %></a></li>
              <li><a href="checkout.html"><i class="fa fa-crosshairs"></i><%= t('.ordering') %></a></li>
              <% unless session[:cart_id].nil? %>
                  <li><%= link_to(cart_url(session[:cart_id])) do %>
                        <i class="fa fa-shopping-cart"></i><%= t('.cart') %>
                    <% end %>
                  </li>
              <% end %>
              <li>
                <% if user_signed_in? %>
                    <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete %>
                <% else %>
                    <%= link_to t('.sign_in'), "/myaccount" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->
</header>
<div class="header-bottom"><!--header-bottom-->
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="mainmenu pull-left">
          <ul class="nav navbar-nav collapse navbar-collapse">
            <li><a href="/" class="active"><%= t('.main') %></a></li>
            <li class="dropdown">
              <%= link_to category_index_path do %>
                  <%= t('.categories') %><i class="fa fa-angle-down"></i>
              <% end %>
              <ul role="menu" class="sub-menu">

                <% @categories.each do |category| %>
                    <% if category.category_id.nil? %>
                        <li><%= link_to category.name, category_path(category) %></li>
                    <% end %>
                <% end %>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><%= t('.store') %><i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="sub-menu">
                <li><%= link_to t('.pay_deliv'), payment_delivery_path %></li>
                <li><a href="#"><%= t('.sale') %></a></li>
                <li><a href="#"><%= t('.brands') %></a></li>
              </ul>
            </li>
            <li> <%= link_to t('.contacts'), contacts_path %> </li>
            <li> <%= link_to t('.about'), about_path %> </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="search_box pull-right">
          <%= form_tag(search_show_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: t('.search') %>
              <%= submit_tag "GO!", style: "display:none" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/header-bottom-->
</header><!--/header-->

<%= yield %>


<footer id="footer"><!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <h2><span>car</span>-store</h2>

            <p><%= t('.motiv_text') %></p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="https://www.youtube.com/watch?v=5aMuy6-939g">
                <div class="iframe-img">
                  <img src="/assets/home/iframe1.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>

              <p>The Volkswagen Passat</p>

              <h2><%= t('.video_text_one') %></h2>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="https://www.youtube.com/watch?v=RklCOb6DaQM">
                <div class="iframe-img">
                  <img src="/assets/home/iframe2.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>

              <p>The Audi A7</p>

              <h2><%= t('.video_text_two') %></h2>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="https://www.youtube.com/watch?v=v1F73OXKbVU">
                <div class="iframe-img">
                  <img src="/assets/home/iframe3.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>

              <p>Skoda Rapid trailer</p>

              <h2><%= t('.video_text_three') %></h2>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <a href="https://www.youtube.com/watch?v=PgrtJ9YJbCM">
                <div class="iframe-img">
                  <img src="/assets/home/iframe4.png" alt=""/>
                </div>
                <div class="overlay-icon">
                  <i class="fa fa-play-circle-o"></i>
                </div>
              </a>

              <p>2015 Porsche Cayenne</p>

              <h2><%= t('.video_text_four') %></h2>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <img src="/assets/home/map.png" alt=""/>

            <p><%= t('.situation') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="single-widget">
            <h2><%= t('.service') %></h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/category"><%= t('.new') %></a></li>
              <li><%= link_to t('.pay_deliv'), payment_delivery_path %></li>
              <li><a href="#"><%= t('.q_cert') %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2><%= t('.about_us') %></h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#"><%= t('.feedbacks') %></a></li>
              <li><a href="#"><%= t('.site_map') %></a></li>
              <li><%= link_to t('.contacts'), contacts_path %></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2><%= t('.categories') %></h2>
            <ul class="nav nav-pills nav-stacked">
              <% @categories.each do |category| %>
                  <% if category.category_id.nil? %>
                      <li><%= link_to category.name, category_path(category) %></li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="single-widget">
            <h2><%= t('.customer') %> </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/myaccount"><%= t('.account') %></a></li>
              <li><a href="/orders/order_history"><%= t('.orders_history') %></a></li>
              <li><a href="#"><%= t('.wish_list') %></a></li>
              <li><a href="#"><%= t('.subscription') %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="single-widget">
            <h2><%= t('.subscribe') %></h2>

            <form action="#" class="searchform">
              <input type="text" placeholder="Ваш E-mail"/>
              <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
              <p><%= t('.news_text_one') %><br/> <%= t('.news_text_two') %></p>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="pull-left">Copyright © 2015 Car-Store Inc. All rights reserved.</p>

        <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
      </div>
    </div>
  </div>

</footer>
<!--/Footer-->


<script src="/assets//bootstrap.min.js"></script>
<script src="/assets/jquery.scrollUp.min.js"></script>
<script src="/assets/price-range.js"></script>
<script src="/assets/jquery.prettyPhoto.js"></script>
<script src="/assets/main.js"></script>
</body>
</html>
